/* Light Mode Button Styles
--------------------------- */

.light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    width: 50px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}

.light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width: 50px;
    height:20px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top:4px;
    left:4px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* Light & Dark Mode Styles
--------------------------- */

body {
    background-color: #f6f6f6;
    transition: background-color .3s;
}

body[light-mode=dark] {
    background-color: #141516;
    color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1){
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 31.5px;
    background-color: #141516;
}

h4 {
    margin: 0.5em 0 0 0;
    text-align: center;
}

@media (max-width: 35em) {
    .cone {
        display:none;
    }
}

